{% for item in include.content %}
  {% if item.image %}
  <div class="row clearfix layout layout-{{ item.layout | default: 'left' }} border-{{ item.border | default: 'no' }} education-with-logo">
    <div class="col-xs-12">
      <div class="education-card">
        <div class="education-card__top">
          <div class="education-card__titles">
            <h4 id="{{ item.title | slugify }}">{{ item.title }}</h4>
            {%- if item.sub_title -%}<p><b>{{ item.sub_title }}</b></p>{%- endif -%}
            {%- if item.additional_links -%}
            <p class="no-print aditional-links education-card__icons">
              {% for link in item.additional_links %}
                {% include a.html href=link.url class="" %}
                  <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
                </a>
              {% endfor %}
            </p>
            {%- endif -%}
          </div>
          <div class="education-card__meta">
            {%- if item.caption -%}
              <p class="education-card__caption">{{ item.caption }}</p>
            {%- endif -%}
            {%- if item.link -%}
              <p class="education-card__link">
                {% include a.html href=item.link class="link" %}
                  {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
                </a>
              </p>
            {%- endif -%}
          </div>
        </div>
        <div class="education-card__bottom">
          <img class="education-card__logo" src="{{ item.image | relative_url }}" alt="{{ item.title | escape }}" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row clearfix layout layout-{{ item.layout | default: 'left' }} border-{{ item.border | default: 'no' }}">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4 id="{{ item.title | slugify }}">{{ item.title }}</h4>
      {%- if item.sub_title -%}<p><b>{{ item.sub_title }}</b></p>{%- endif -%}
      {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}

      {%- if item.link -%}
        {% include a.html href=item.link class="link" %}
          {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
        </a>
      {%- endif -%}

      {%- if item.additional_links -%}
      <p class="no-print aditional-links">
        {% for link in item.additional_links %}
          {% include a.html href=link.url class="" %}
            <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
          </a>
        {% endfor %}
      </p>
      {%- endif -%}
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      {%- if item.quote -%}
        <p class="quote">{{ item.quote }}</p>
      {%- endif -%}
      <div class="content-with-side content-with-side--no-image">
        <div class="content-with-side__body">
          {{ item.description | strip | markdownify }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
